{{<layout}}
{{$title}}Secret Message{{/title}}
{{$body}}
  <h1>Tozny Java Secret Message Example</h1>
  <p class="lead">The secret message is:</p>
  <p>You are authenticated - welcome to Tozny!</p>
{{/body}}
{{/layout}}
