#
# test.properties --- Java SDK unit test properties.
#
# Copyright (C) 2016, Tozny, LLC.
# All Rights Reserved.
#
# Released under the Apache license. See the file 'LICENSE'
# for more information.
#

# Replace these values with your realm key and secret,
# available via the Tozny admin console at https://admin.tozny.com,
# and rename this file to "tozny.properties".
realmKey = sid_1234567890abc
realmSecret = 20349823049234809248039482034983498
